* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.greeting{
    color:rgb(236, 6, 6);
}
.name{
    display: block;
    margin: 20px 0;
    color: rgb(226, 93, 93);
    
}
.time{
    color:red;
    font-size: 50px;
}
button {
    display: block;
    width: 100px;
    padding: 3px;
    margin-bottom: 10px;
    margin: 10px auto;
    border-radius: 15px;
    background-color: rgb(236, 6, 6);
}
.parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url("./1111258.jpg");
    background-position: center;
    background-size: cover;
}
.content{
    width: 400px;
    background: rgba(255, 255, 255, 0.219);
    text-align: center;
    padding-bottom: 20px;
    padding:20px 0;
}
.add-container{
    background-color:white;
    width: 400px;
    padding: 20px 20px;
    position: absolute;
    top: 20%;
    left: 35.5%;
    margin:0 auto;
    display: none;
}
.add-container h2{
    text-align: center;
}
.add-container span{
    display: block;
    margin: 10px 0;

}
.add-container textarea{
    display:block;
    width: 100%;
    height: 200px;
}
.view-container{
    background-color:rgb(214, 207, 207);
    width: 400px;
    padding: 20px 20px;
    position: absolute;
    top: 20%;
    left: 35.5%;
    margin:0 auto;
    display: none;
    text-align: center;
    
}
.view-container h2{
    text-align: center;
}
.view-container .task{
    text-align: center;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.452);
    padding:5px 0;
}