*{

}

body {
  background-color: brown;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  text-align: center;
}

h1 {

}

h2 {
}
