*{
    margin: auto;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: whitesmoke;
    transition: 5s background-color;
    animation-name: fade-in;
    animation-duration: 4s;
}
body:hover{
  background-color: rgba(221, 208, 208, 0.733);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.per{
    font-size: 16px;
    color: orangered;
}
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .inside{
    /* background-color:rgba(148, 148, 148, 0.685); */
    background: linear-gradient(rgb(6, 197, 6),orangered );
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: 2s all;
  }
  .inside:hover{
    background: linear-gradient(rgb(6, 197, 6),black );
    padding: 35px;
    cursor: pointer;
  }
  .column img {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 100%; 
    transition: 0.6s all;
  }
  .column img:hover{
    width: 105%;
  }
  .text{
      text-align: center;
      font-size: 25px;
      color: orangered;
  }
  .price{
    font-size: 20px;
    color: green;  
    text-align: center; 
  }
  .sub{
      color: green;
      font-size: 20px;
      text-align:center;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    .navlinks{
      max-width: 20%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      display: none;
  }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .navlinks{
      max-width: 10%;
      display: flex;
      justify-content: space-around;
      display: none;
  }
  }
  .navbar{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: right;
    padding:0 12%;
    justify-content: space-between;
    border-bottom: 3px solid rgba(172, 170, 170, 0.582) ;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    background: linear-gradient(rgb(6, 197, 6),orangered );
    position: absolute;
    
    top: 0%;
  }
  .navbar:hover{
    background-color:rgb(255, 68, 0);
    height: 55px;
  }
  .navlinks{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.navlinks > img{
    cursor: pointer;
}
.logo{
    color: burlywood;
    margin-left: 50px;
}
.footer{
  width: 100vw;
  height: 60vh;
  background: linear-gradient(rgb(236, 150, 38), rgb(14, 12, 12) );
  margin-bottom: 0;
  transition: 2s all;
}
.footer:hover{
  background: linear-gradient(black,rgb(236, 150, 38) );
}
.butt-on{
  padding: 10px;
  color: orangered;
  background-color: green;
  border-color: white;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.butt-on:hover{
  padding: 12px;
  color: green;
  background-color: orangered;
  border-color: white;
  margin-top: 12px;
  border-radius: 7px;
}
.sign-up{
  color: orangered;
  background-color: green;
  padding: 10px;
  border-radius: 5px;

}
.log-in{
  color: orangered;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}
.sign-up:hover{
  background-color: black;
}
.abouttext{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name{
  font-size: 18px;
  color: green;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about{
  font-size: 40px;
  color: green;
  background-color: orangered;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}